html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
a, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-rendering: optimizeLegibility; /*Enabling kerning-pairs & ligatures*/
}
/* @end */

/* @group HTML5 elements */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* @end */

/* @group Images and objects */
/* !Nice image resizing on IE */
img {
  -ms-interpolation-mode: bicubic;
}

/* !Assuring we don't break the layout with fluid media */
img, video,
object, embed {
  max-width: 100%;
  vertical-align: top ;
}
/* @end */

/* @group Lists */
ul,
nav ol {
  list-style: none;
}

ul, ol {
  list-style-position: outside;
}
/* @end */

/* @group Quotes */
blockquote, q {
  quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
/* @end */

/* @group Sup & Sub */
/* !Preserves line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}
/* @end */

/* @group Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
thead,
table caption {
  text-align: left;
}
/* @end */

/* @group Forms */
/* @group General */
input, select, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
}


input, select, button, textarea {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

/* !All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* !These elements are usually rendered a certain way by the browser */
button,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* !Pointer cursor & Removing user selection on clickable input elements */
button,
label[for],
input[type="button"],
input[type="submit"],
a[role="button"] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

meter {
  border: 0; /*Removing Opera*/
  -webkit-appearance: none; /*Allows styling for meter tags*/
}
/* @end */

/* @group Buttons */
/* !Removes extra side padding in IE */
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  overflow: visible; 
  width: auto;
}

/* !Overrides extra padding in Firefox */
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* !IE8 and FF freak out if this rule is within another selector */
/*::-webkit-file-upload-button {  
padding: 0;
border: 0;
background: none;
}*/
/* @end */

/* @group Textareas */
textarea {
  width: 100%;
  vertical-align: top; /*Moves the label to the top*/
  overflow: auto; /*Removes auto scrollbars in IE*/
  resize: vertical; /*Removes horizontal resizing in WebKit and Gecko 2*/
}
/* @end */

/* @group input[type="search"] for Webkit */
/* !Makes Webkit render the search input like a normal text field */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* !Turns off the recent search for Webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* !Turns off the cancel search button for Webkit. */
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/* @end */

/* @group Invalid */
/* !Handling invalid pseudo-classes applied by modern browsers */
:invalid,
:-moz-ui-invalid,
:-moz-submit-invalid {
  box-shadow: none;
}
/* @end */
/* @end */

/* @group Misc */
ins {
  text-decoration: none;
}

abbr[title], dfn[title] {
  cursor: help;
}

del {
  text-decoration: line-through;
}

b{
  font-weight: bold;
}

i{
  font-style: italic;
}



/************************** MODIFICATIONS
**************************/


a{
  color:#2A3D50;
}

small{
  font-size: 70%;
  color:#97A0A4;  
}

big{
  font-size:110%;
  padding-bottom: 5px;

}

hr {
  width: 100%;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  background: #ececec;
}

p{
  font-size: 14px;
  padding-bottom: 5px;
  color:#97A0A4;  
  font-family: "HelveticaNeue";
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"]
{
  font-size: 12px;
  padding: 20px 15px;
}

input[type=checkbox],
input[type=radio] {
  margin: 0;
}

button{
  font-size: 16px;
  background-color: #8AC5D3;
  border:0;
}

div.disabled, div.disabled button{
  background-color: #C3C3C3;
  border: 1px solid #C3C3C3;
}


/************************** BOOSTRAP MODIFICATIONS
**************************/



.container{
  padding: 10px 0;
}

.panel-group .panel+.panel{
  margin: 0;
}

.panel-default > .panel-heading{
  background-color: #fff; 
  border: none;
}

.panel-body{
  padding: 0;
  background-color: #FAFAFA;
}


.btn, .btn-primary{
  padding: 10px 15px;
  background-color: #8AC5D3;
  border:1px solid #8AC5D3;
}


.btn-primary:hover {
  background-color: #82BCCA;
  border-color:#82BCCA;
}


.btn-primary.disabled:hover{
  background-color: #C3C3C3;
}




/************************** TRANSITIONS
**************************/



::-webkit-input-placeholder{
	opacity: 1; 
	transition: opacity .3s ease;
}
::-moz-placeholder{
	opacity: 1; 
	transition: opacity .3s ease;
}
:-moz-placeholder{
	opacity: 1; 
	transition: opacity .3s ease;
}
:-ms-input-placeholder{
	opacity: 1; 
	transition: opacity .3s ease;
}

:focus::-webkit-input-placeholder{
	opacity: 0; 
	transition: opacity .3s ease;
}
:focus::-moz-placeholder{
	opacity: 0; 
	transition: opacity .3s ease;
}
:focus:-moz-placeholder{
	opacity: 0; 
	transition: opacity .3s ease;
}
:focus:-ms-input-placeholder{
	opacity: 0; 
	transition: opacity .3s ease;
}




/************************** TYPOGRAPHY
**************************/





@font-face {
  font-family: "Mirai";
  src: url("../fonts/Mirai-IcoFont.eot");
  src: url("../fonts/Mirai-IcoFont.eot#iefix") format("embedded-opentype"),
       url("../fonts/Mirai-IcoFont.woff") format("woff"),
       url("../fonts/Mirai-IcoFont.ttf") format("truetype"),
       url("../fonts/Mirai-IcoFont.svg") format("svg");  
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.otf") format("otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("../fonts/HelveticaNeue-Light.otf") format("otf");
  src: url("../fonts/HelveticaNeueLight.ttf") format("ttf");
  src: url("../fonts/HelveticaNeue-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}






/************************** STYLES
**************************/






[class^="icon-"]:before, [class*=" icon-"]:before{
  font-family: "Mirai";
  font-style: normal;
  font-weight: normal;
  display:inline-block;
  text-decoration: inherit;
  speak:none;
  text-align:center;
}


.icon {
  position: relative;
  top: 5px;
  left: 5px;
}
[class^="icon"] {
  width: 50px;
  height: 50px;
  position: relative;
  top: 2px;
  margin-right: 5px;
  fill: #fff;
}

[data-icon]:before {
    font-family: "Mirai";
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.icon-calendar:before {
  content: '\e900';
}
.icon-arrow-range-date:before {
  content: '\e901';
}
.icon-arrow-right:before {
  content: '\e902';
}
.icon-arrow-left:before {
  content: '\e903';
}
.icon-info:before {
  content: '\e904';
}
.icon-answer:before {
  content: '\e905';
}
.icon-lock:before {
  content: '\e906';
}

.black{
  color:#2B3539;
}

.title{
  color:#2B3539;
  font-size: 120%;
}


/************************** ASIDE
**************************/

/*
.secure:before{
  font-family: "Mirai";
  font-size: 30px;
  content: '\e906';
}
*/


.secure span{
  font-size: 30px;
  color: #E2E2E2;
  top:5px;
}

.secure{
  padding: 20px 0;
  color:#B9B9B9;
  float: right;
}

.secure small{
  padding-right: 20px;
}

.secure img{
  float:right;
  width: 90px;
}

.reservation{
  background-color: #F9F9F9;
  border: 1px solid #E9E9E9; 
}

.summary{
  padding: 35px 25px 25px 25px ;
  border-bottom:1px solid #ececec;
}

.summary span{
  font-size: 40px;
  color: #CACACA;
  top:5px;
  right: 20px;
}


.summary small:first-child:before{
  font-size: 20px;
  font-family: "Mirai";
  color: #B9B9B9;
  content: '\e904';
  position: relative;
  top: 4px;
}

.summary p.dates{
  font-size: 16px;
  color:#404040;
}

.summary .price{
  padding: 25px 0;
}

.summary .price p:nth-child(2){
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color:#87C190;  
}

.summary .change{
  padding-top: 30px;
}

.room{
  padding: 25px 25px;
  border-bottom:1px solid #ececec;  
}

.basics .row:nth-child(1){
  padding-bottom: 20px;
}

.basics img{
  border:5px solid #fff;
  border-radius: 2px;
  width: 90px;
  float: left;
  margin-right: 15px;
}

.basics .datesList{
  border: 1px solid #ececec;
  border-radius: 4px;
  max-height: 128px;
  overflow-y: scroll;
  font-size: 12px;
  color:#2B3539;
}

.basics .datesList li{
  border: none;
  padding: 10px 0 10px 5px;
}

.basics .datesList li:before{
  font-family: "Mirai";
  color:#E2E2E2;
  font-size: 20px;
  position: relative;
  top: 4px;
  content: "\e900";
}

.basics .datesList li:nth-child(2),
.basics .datesList li:nth-child(4){
  background-color: #F9F9F9;
}

.basics .datesList li span{
  font-size: 11px;
}


.basics .row:nth-child(2){
  font-size: 12px;
}

.basics .info{
  padding-left: 10px;
}

.basics .info p, .basics .info ul{
  font-size: 12px; 
}

.basics .info ul li{
  padding: 0 0 5px 5px;  
}

.basics .info ul li:before{
  font-family: 'Glyphicons Halflings';
  font-size: 10px;
  padding-right: 5px;
  color:#373F44;
  content: "\e013";
}

.extraCharges p:first-child{
  font-size: 14px;
  color:#2B3539;
}

.extraCharges div:nth-child(2){
  text-align: right;
  color:#97A0A4;
}

.policies{
  padding: 35px 25px; 
}

.policies ul li{
  font-size: 75%;
  line-height: 14px;
  padding-bottom: 25px; 
  color:#97A0A4;
}


/************************** FORM
**************************/


.reservationData header img{
  width:150px;
}

.reservationData header ul{
  font-size: 12px;
  color:#97A0A4;
}

.reservationData header{
  padding-bottom: 25px;
}
  
.center-table {
  float: right;
  display: table;
  height: 80px;
  width: 160px;
  padding: 5px;
}

.center-table ul {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
}


.reservationData form{
  padding:25px 0;
}




.reservationData input.error{
  border:2px solid #E04646;
}

.reservationData .input-group input.error .input-group-addon{
  border:2px solid #E04646;
}

.reservationData label.error{
  font-size: 12px;
  padding-left: 5px;
  color:#E04646;
}

.reservationData .input-group label.error, .reservationData .form-group label.error{
  font-size: 12px;
  padding-left: 5px;
  color:#E04646;
}


.reservationData .panel-group label{
  font-size: 12px;
  color:#2B3539;
  line-height: 14px;
}

.reservationData .panel-group p{
  font-size: 12px;
}

.reservationData .input-group >input{
  border-right: 0;  
}

.reservationData .input-group .form-control {
  box-shadow: none;
  webkit-box-shadow: none;
}

.reservationData .input-group > .input-group-addon{
  font-size: 22px;
  padding: 0;
  color:#E2E2E2;
  background-color: #fff;
  border-left: 0px;
}


.reservationData .panel-default:first-child .panel-title label{
  line-height: 28px;
}
.reservationData .panel-default:last-child .panel-title label{
  line-height: 28px;
}

.reservationData .panel-default:first-child .panel-body{
  padding-top: 15px;
}
.reservationData .panel-default:last-child .panel-body{
  padding-bottom: 15px;
}


.reservationData .panel-group .cardImages img{
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  margin: 0;
}

.reservationData .panel-group .cardImages img.selected{
  filter: grayscale(0%);
  border: 1px solid #8AC5D3;
  border-radius: 4px;
}

.reservationData .panel-default:last-child .cardImages img{
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}

.reservationData .panel-default:last-child .panel-body p:first-child{
  padding-bottom: 10px;

}

.reservationData .panel-default:last-child .panel-body span{
  font-size: 50px;
  text-align: center;
}

.reservationData .panel-default:last-child .panel-body span:first-child{
  top:0;
  left: 30px;
}
.reservationData .panel-default:last-child .panel-body span:last-child{
  top: 20px;
  right: 30px;
  transform: rotate(180deg);
}

.reservationData .panel-default:last-child .panel-body span:last-child:before{
  transform: rotate(180deg);
}

.reservationData textarea{
  resize: none;
}

.reservationData textarea::placeholder{
  font-size: 12px;
}

.reservationData .checkbox label{
  font-size: 12px;
  color:#97A0A4;
}

.reservationData .buttonsForm {
  padding-top: 20px;
}

.reservationData .buttonsForm a{
  font-size: 14px;
  padding-top: 10px;
  display: inline-block;  
}


